body {
    background-color: azure;
    overflow: hidden;
    margin:auto;
}

.container {
    /* width: 400px; */
    /* padding: 10px; */
    display: grid;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.name1 {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    width: 50%;
}



/* -------------test only-------------- */
    /* flex-wrap: wrap; */
    /* box-sizing: border-box; */
    /* flex-direction: column; */
    /* box-sizing: border-box; */